/* BASIC CONTENT */

head {
  color:rgb(85, 70, 48)
}

body {
  margin:0;
  }

  h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    padding-top: 100px;
    text-align: center
  }

.page {
  display:flex;
  flex-direction: column;
  background-color: #6cae9a;
}

.textbox {
  padding:10px,10px;
  margin: 40px 20%;
  padding: 30px
}
p {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size:24px;
  color:black;
  text-align: justify;
}

.whitetext {
  color:white !important
}

.graytext {
  color:gray !important
}

.lightgraytext {
  color:lightgray !important
}

/* LINKS */

a {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px 3.5%;
    text-decoration: none;
    margin: 0.5%;
    line-height: 250%;
    float: center;
    background-color:rgb(245, 245, 245)
  }

a:hover{
  color:inherit;
  animation-name: hoverEffect;
  animation-duration: 5s;
}


@keyframes hoverEffect{
  from {color:rgb(217, 217, 217)};
  to {color:rgb(0, 0, 0)};
}

@keyframes selectEffect {
  from {};
  to {};
}

/* NAVIGATION BAR 
STICKY BAR SCRIPT
SIDEPANEL TOGGLE SCRIPT */

#navbar {
  opacity:50%;
  height:100%;
  width:200px;
  overflow: auto;
  text-align: right;
  background-color:rgb(232, 232, 232);
  padding-right: 16px;
  margin-left: -8px;
  position:fixed!important;
  z-index:1;
  color:rgb(42, 42, 42)
}

.content {padding-top: 16px; margin: 0px 7.5px}

.sticky {position: fixed; top: 0; width: 100%}

.sticky + .content {padding-top: 102px;}

.side-panel-space {margin-left:200px}

.side-panel-button {
  width:200px;
  height: 200px;

}

/* DROPDOWN SCRIPT */

/* BODY TEXT (+FLEXBOX ORGANIZATION) */

.logo {
  width:100%;
}

/* LOADIN ANIMATION */

.openanimated {
  animation: loadin 2s;
  position: relative;
}

@keyframes loadin{
  0% {opacity:0%; bottom:20px};
  50% {opacity:50%; bottom:10px}
  100% {opacity:100%; bottom:0px}
}

/* Testing */

.xtSection {
  background-color: rgba(0, 0, 0, 0.701961);
  width: 400px;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
}

.testingIMG1 {
  display: block;
  width: 40%;
  height: 40%;
  margin-left:auto;
  margin-right:auto;
  transition: transform 0.4s;
}  

.testingIMG2 {
  margin-top:-40%;
  display: block;
  width: 40%;
  height: 40%;
  margin-left:auto;
  margin-right:auto;
  transition: transform 0.4s;
  opacity: 80%;
}  

.testingIMG2:hover {
  transform: scale(1.8,1.8) rotate(180deg);
}

.testingIMG2:hover + .testingIMG1 {
  transform: scale(1.8,1.8);
}

.testFrame {
  margin-top: 60%;
  margin-left: 30%;
  width: 160px;
  height: 160px;
  background-color: red;
}

/* Given */

.container {
  display: flex;
}

.hover-item {
  background-color: #f1f1f1;
  padding: 10px;
  transition: transform 0.3s;
}

.other-div {
  background-color: #ffffff;
  padding: 10px;
  transition: transform 0.3s;
}

.hover-item:hover {
  transform: scale(1.1);
}

.hover-item:hover + .other-div {
  transform: rotate(20deg);
}

/* Social */


.social {
  width:6.2%;
  height:6.2%;
}

.socialLink {
  color:#ffe669ff;
}

.maintenance {
  display: block;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  scale: 0.5;
  font-size: 40px;
}
