/* BASIC CONTENT */

head {
  color:rgb(85, 70, 48)
}

body {
  margin:0;
  }

  h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    padding-top: 100px;
    text-align: center
  }

.page1 {
  display:flex;
  flex-direction: column;
  background-color: #6cae9a;
}

.page2 {
  display:flex;
  flex-direction: column;
  background-color: #ffffff00;
}

#gradient {
  height:200px;
  background-image: linear-gradient(#6cae9a,#ffffff00)
}

p {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size:24px;
  color:black;
  text-align: justify;
}

/* LINKS */

a {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px 3.5%;
    text-decoration: none;
    margin: 0.5%;
    line-height: 250%;
    float: center;
    background-color:rgb(245, 245, 245)
  }

a:hover{
  color:inherit;
  animation-name: hoverEffect;
  animation-duration: 5s;
}

@keyframes hoverEffect{
  from {color:rgb(217, 217, 217)};
  to {color:rgb(0, 0, 0)};
}

@keyframes selectEffect {
  from {};
  to {};
}

/* NAVIGATION BAR 
STICKY BAR SCRIPT
SIDEPANEL TOGGLE SCRIPT */

#navbar {
  opacity:50%;
  height:100%;
  width:200px;
  overflow: auto;
  text-align: right;
  background-color:rgb(232, 232, 232);
  padding-right: 16px;
  margin-left: -8px;
  position:fixed!important;
  z-index:1;
  color:rgb(42, 42, 42)
}

.content {padding-top: 16px; margin: 0px 7.5px}

.sticky {position: fixed; top: 0; width: 100%}

.sticky + .content {padding-top: 102px;}

.side-panel-space {margin-left:200px}

.side-panel-button {
  width:200px;
  height: 200px;

}

/* DROPDOWN SCRIPT */

/* BODY TEXT (+FLEXBOX ORGANIZATION) */

.logo {
  width:100%;
}

/* LOADIN ANIMATION */

.openanimated {
  animation: loadin 2s;
  position: relative;
}

@keyframes loadin{
  0% {opacity:0%; bottom:20px};
  50% {opacity:50%; bottom:10px}
  100% {opacity:100%; bottom:0px}
}

/* Testing */

.xtSection {
  width: 400px;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
}

.testingIMG1 {
  display: block;
  width: 40%;
  height: 40%;
  margin-left:auto;
  margin-right:auto;
  transition: transform 0.4s;
}  

.testingIMG2 {
  margin-top:-40%;
  display: block;
  width: 40%;
  height: 40%;
  margin-left:auto;
  margin-right:auto;
  transition: transform 0.4s;
  opacity: 80%;
}  

.testingIMG2:hover {
  transform: scale(1.8,1.8) rotate(180deg);
}

.testingIMG2:hover + .testingIMG1 {
  transform: scale(1.8,1.8);
}

.testFrame {
  margin-top: 60%;
  margin-left: 30%;
  width: 160px;
  height: 160px;
  background-color: red;
}

/* Social */

.social {
  width:6.2%;
  height:6.2%;
}

.socialLink {
  color:#ffe669ff;
}

/* given++ */ 

#bigboy {   background-color: rgba(0, 0, 0, 0.701961);
  width: 400px;
  height: 400px;
  margin-left:auto;
  margin-right:auto;}

#port {background-image: url('media/iGEM logo.png');
  margin-top:-40%;
  display: block;
  width: 40%;
  height: 40%;
  margin-left:auto;
  margin-right:auto;
  transition: transform 0.4s;
  opacity: 80%;
}

#port:hover {
  transform: scale(1.8,1.8);
}

#port>#frame {
  transform: scale(1.8,1.8) rotate(180deg);
}

/* GIF */

.image-container {
  position: relative;
  display: inline-block;
  /* Set the width and height according to your image/GIF dimensions */
  width: 720px;
  height: 720px;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.still-1 {
  opacity: 1;
}

.still-2, .gif-2 {
  pointer-events: none; /* Prevent hover events on these images while they are visible */
}

.image-container:hover .still-1 {
  opacity: 0;
}

.image-container:hover .gif-1 {
  opacity: 1;
  animation: playGif1 0.5s forwards;
}

.image-container:hover .still-2 {
  opacity: 1;
}

.image-container:not(:hover) .still-2 {
  opacity: 0;
}

.image-container:not(:hover) .gif-2 {
  opacity: 1;
  animation: playGif2 0.5s forwards;
}

@keyframes playGif1 {
  to {
    opacity: 0;
  }
}

@keyframes playGif2 {
  to {
    opacity: 0;
  }
}
