/* BASIC CONTENT */

head {
  color:blanchedalmond
}

body {
    color:rgb(9, 9, 9);
    background-color: rgb(219, 219, 219);

  }

  h1 {
    color: rgb(41, 41, 41);
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
  }

/* LINKS */

a {
    text-align: center;
    color: rgb(156, 156, 156);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(86, 86, 86);
    border: groove;
    border-width:4px;
    padding: 2px 3.5%;
    text-decoration: none;
    margin: 0.5%;
    line-height: 250%;
  }
a:link{
  color:inherit;
}
a:visited {
  color:inherit;
}
a:active {
  color: inherit;
  opacity: 0;
  transition: all 0.8s;
}

/* NAVIGATION BAR (+STICKY BAR SCRIPT) */

#navbar {
    text-align: center;
    background-color:rgb(104, 54, 54);
    padding: 7.5px;
    margin: 7.5px;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

/* DROPDOWN SCRIPT */

/* BODY TEXT (+FLEXBOX ORGANIZATION) */

.paras {
  display: flex;
  flex-direction: column;
  gap: 100px;

}

p1 {
  font-size: 100px;
}

pL {
  font-size: 100px;
  text-align: left;
}

pR {
  font-size: 100px;
  text-align: right;
}

.bg {
  height: 100px;
}

.red {
  background-color: red;
}